<h1>Hi! We are Rails Girls!</h1>
<p>This is our lovely Rails Girls application.</p>
<p>
	Visit our homepage at <a href="http://railsgirls.co.il" target="_blank">railsgirls.co.il</a>.
</p>
<img src="http://railsgirls.co.il/images/events/1/1.jpg" style="width: 600px;" class="thumbnail">
